In [1]:
import pandas as pd
import codecs
import numpy as np

In [11]:
#Ler os arquivos de dados
df = pd.read_excel("Dados_Agricolas.xlsx")
df=df.iloc[:]
df

          Data  Varia   Med
0   2008-01-01  Varia  2904
1   2008-02-01  Varia  2904
2   2008-03-01  Varia  2982
3   2008-04-01  Varia  2961
4   2008-05-01  Varia  3138
..         ...    ...   ...
187 2023-08-01  Varia  3585
188 2023-09-01  Varia  3585
189 2023-10-01  Varia  3585
190 2023-11-01  Varia  3585
191 2023-12-01  Varia  3585

[192 rows x 3 columns]

In [6]:
df.head()

        Data  Varia   Med Intervalo
0 2007-01-01  Varia  2857       NaN
1 2007-02-01  Varia  2857       NaN
2 2007-03-01  Varia  2857       NaN
3 2007-04-01  Varia  2857       NaN
4 2007-05-01  Varia  2857       NaN

In [12]:
#Tentando pegar dados de só uma linha
linha1 = df.iloc[3]
print(linha1)

Data     2007-04-01 00:00:00
Varia                  Varia
Med                     2857
Name: 3, dtype: object

In [217]:
df["POSI"]= df["POSI"].astype("float64")

In [6]:
linha1.dtypes

dtype('O')

In [4]:
print(df["Med"][9])

2242

In [3]:
df.isnull().sum()

Data     0
Varia    0
Med      0
dtype: int64

In [220]:
df.dropna(subset=['TEMP'], inplace=True)

In [196]:
#df.isnull().sum()
#dadosteste=pd.DataFrame(data=df.groupby(['Data'])['TEM'].mean())

In [12]:
#Montando as Médias de Cada Ano
#Montar grupos dentro de grupos
#df.groupby(pd.Grouper(key='Data', freq='2M'))['Med'].mean()
df[(df['Data'].dt.year > 2007)].groupby(pd.Grouper(key='Data', freq='M'))['Med'].mean()
#dadosteste=pd.DataFrame(data=df.groupby(pd.Grouper(key='Data', freq='M'))['TEMP'].mean())

Data
2008-01-31    2904.0
2008-02-29    2904.0
2008-03-31    2982.0
2008-04-30    2961.0
2008-05-31    3138.0
               ...
2023-08-31    3585.0
2023-09-30    3585.0
2023-10-31    3585.0
2023-11-30    3585.0
2023-12-31    3585.0
Freq: M, Name: Med, Length: 192, dtype: float64

In [223]:
#Gerando o arquivo para salvar
#dadosteste.to_excel('Mtemperatura_NONAT.xlsx',index=True)

In [17]:
#Criando um codigo para criar médias quadrienais ... de 4 em 4 anos
# Criar uma coluna para representar os intervalos de anos desejados
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                       labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Calcular a média dos valores de 'Med' para cada intervalo de anos
media_por_intervalo = df.groupby('Intervalo')['Med'].mean()
Media_Quadrienio=pd.DataFrame(media_por_intervalo)
Media_Quadrienio.to_excel('Media_Quadrienio_soja.xlsx',index=True)
print(media_por_intervalo)

Intervalo
2008-2011    2917.229167
2012-2015    2538.937500
2016-2019    2764.520833
2020-2023    3409.562500
Name: Med, dtype: float64

In [38]:
# Assuming your DataFrame is named df
import pandas as pd

# Generate some sample DataFrame
data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)

# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2010, 2014, 2018, 2022],
                         labels=['2007-2010', '2011-2014', '2015-2018', '2019-2022'])

# Filtering the DataFrame for the month of January
january_data = df[df['Data'].dt.month == 1]

# Grouping by year and summing the values for January
january_sum = january_data.groupby(january_data['Data'].dt.year)['Values'].sum()

# Calculating the average value for January
january_avg = january_data.groupby(january_data['Data'].dt.year)['Values'].mean()

print(january_sum)
print(january_avg)

Data
2007       465
2008     11780
2009     23126
2010     34441
2011     45756
2012     57071
2013     68417
2014     79732
2015     91047
2016    102362
2017    113708
2018    125023
2019    136338
2020    147653
2021    158999
Name: Values, dtype: int64
Data
2007      15.0
2008     380.0
2009     746.0
2010    1111.0
2011    1476.0
2012    1841.0
2013    2207.0
2014    2572.0
2015    2937.0
2016    3302.0
2017    3668.0
2018    4033.0
2019    4398.0
2020    4763.0
2021    5129.0
Name: Values, dtype: float64

In [21]:
import pandas as pd
'''
# Generate some sample DataFrame
data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)

# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Grouping by year and month and calculating the average values
monthly_avg = df.groupby([df['Data'].dt.year, df['Data'].dt.month])['Values'].mean()

# Reshaping the DataFrame to have years as columns and months as rows
monthly_avg = monthly_avg.unstack()

print(monthly_avg)
'''

"\n# Generate some sample DataFrame\ndata = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),\n        'Values': range(5479)}\ndf = pd.DataFrame(data)\n\n# Creating 'Intervalo' column based on year intervals\ndf['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],\n                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])\n\n# Grouping by year and month and calculating the average values\nmonthly_avg = df.groupby([df['Data'].dt.year, df['Data'].dt.month])['Values'].mean()\n\n# Reshaping the DataFrame to have years as columns and months as rows\nmonthly_avg = monthly_avg.unstack()\n\nprint(monthly_avg)\n"

In [22]:
import pandas as pd
#Media de cada mês de todos os anos
# Generate some sample DataFrame
'''data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)
'''
# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Grouping by month and calculating the average values for each month
monthly_avg = df.groupby(df['Data'].dt.month)['Med'].mean()
Media_mensal_Intervalo_todo=pd.DataFrame(monthly_avg)
Media_mensal_Intervalo_todo.to_excel('Media_mensal_Intervalo_todo_soja.xlsx',index=True)
print(monthly_avg)

Data
1     3144.1875
2     3118.5000
3     2974.3125
4     2988.6250
5     2837.3125
6     2839.1875
7     2836.0625
8     2830.6250
9     2830.6250
10    2830.6250
11    2830.3125
12    2830.3750
Name: Med, dtype: float64

In [20]:
import pandas as pd
#Criando as médias da produçaõ agricola de cada mês para cada quadriênio
# Generate some sample DataFrame
'''data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)
'''
# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Loop through each interval and calculate the average values for each month
i=0
for intervalo in ['2008-2011', '2012-2015', '2016-2019', '2020-2023']:
    df_intervalo = df[df['Intervalo'] == intervalo]
    monthly_avg_intervalo = df_intervalo.groupby(df_intervalo['Data'].dt.month)['Med'].mean()
    Media_mensal_Quadrienio=pd.DataFrame(monthly_avg_intervalo)
    Media_mensal_Quadrienio.to_excel(f'Media_mensal_Quadrienio{i}_soja.xlsx',index=True)
    print(f"Média de cada mês para o intervalo {intervalo}:")
    print(monthly_avg_intervalo)
    i+=1
    print()

Média de cada mês para o intervalo 2008-2011:
Data
1     2966.00
2     2966.00
3     2946.00
4     2986.00
5     2892.75
6     2900.25
7     2893.50
8     2891.25
9     2891.25
10    2891.25
11    2891.25
12    2891.25
Name: Med, dtype: float64

Média de cada mês para o intervalo 2012-2015:
Data
1     3058.75
2     2970.75
3     2643.50
4     2643.50
5     2402.50
6     2402.50
7     2402.50
8     2388.75
9     2388.75
10    2388.75
11    2388.50
12    2388.50
Name: Med, dtype: float64

Média de cada mês para o intervalo 2016-2019:
Data
1     3138.25
2     3135.00
3     2902.00
4     2902.00
5     2631.00
6     2631.00
7     2631.00
8     2640.75
9     2640.75
10    2640.75
11    2640.75
12    2641.00
Name: Med, dtype: float64

Média de cada mês para o intervalo 2020-2023:
Data
1     3413.75
2     3402.25
3     3405.75
4     3423.00
5     3423.00
6     3423.00
7     3417.25
8     3401.75
9     3401.75
10    3401.75
11    3400.75
12    3400.75
Name: Med, dtype: float64

In [10]:
linha1 = df.iloc[3]
print(linha1)

Unnamed: 0     2023.000000
01            14404.763198
02            14285.395815
03             8203.566062
04            18091.410885
05            25779.780291
06            11202.614398
07            13267.764218
08             4735.430072
09             5132.147940
10             2662.936711
11             3157.225623
12             3231.320290
Name: 4, dtype: float64

In [11]:
linha1_df = pd.DataFrame(linha1) # Transpor para obter uma linha ao invés de uma coluna
print(linha1_df)
linha1_df.to_excel('dados_linha1.xlsx', index=False)  # index=False para não incluir o índice do DataFrame na planilha

                       4
Unnamed: 0   2023.000000
01          14404.763198
02          14285.395815
03           8203.566062
04          18091.410885
05          25779.780291
06          11202.614398
07          13267.764218
08           4735.430072
09           5132.147940
10           2662.936711
11           3157.225623
12           3231.320290

In [241]:
dadosteste.to_csv('desmatamentoTra.lxsx',index=True)

In [1]:
import pandas as pd

# Exemplo de DataFrame
data = {'A': [1000, 2000, 3000], 'B': [4000, 5000, 6000], 'C': [7000, 8000, 9000]}
df = pd.DataFrame(data)

# Escolha a linha que deseja dividir por 1000
linha_para_dividir = df.iloc[0]

# Dividir os valores da linha por 1000
linha_para_dividir = linha_para_dividir / 1000

print("Valores da linha após dividir por 1000:")
print(linha_para_dividir)

Valores da linha após dividir por 1000:
A    1.0
B    4.0
C    7.0
Name: 0, dtype: float64