In [2]:
import pandas as pd
import codecs
import numpy as np

In [3]:
#Ler os arquivos de dados
df = pd.read_excel("Dados_TEMP_MM.xlsx")
df=df.iloc[:]
df

           Data     MM  TEMP
0    2005-01-31    NaN   NaN
1    2005-02-28    NaN  27.3
2    2005-03-31  193.8  26.5
3    2005-04-30   85.6  26.5
4    2005-05-31   56.6  26.2
...         ...    ...   ...
3808 2023-08-31    NaN  26.8
3809 2023-09-30    NaN   NaN
3810 2023-10-31    NaN   NaN
3811 2023-11-30    NaN   NaN
3812 2023-12-31    NaN   NaN

[3813 rows x 3 columns]

In [20]:
df.head()

        Data     MM  TEMP
0 2005-01-31    NaN   NaN
1 2005-02-28    NaN  27.3
2 2005-03-31  193.8  26.5
3 2005-04-30   85.6  26.5
4 2005-05-31   56.6  26.2

In [21]:
#Tentando pegar dados de só uma linha
linha1 = df.iloc[3]
print(linha1)

Data    2005-04-30 00:00:00
MM                     85.6
TEMP                   26.5
Name: 3, dtype: object

In [217]:
df["POSI"]= df["POSI"].astype("float64")

In [6]:
linha1.dtypes

dtype('O')

In [4]:
print(df["Med"][9])

2242

In [7]:
df.isnull().sum()

Data    0
MM      0
TEMP    0
dtype: int64

In [5]:
#Apagar as linhas que possuem TEMP null
df.dropna(subset=['TEMP'], inplace=True)

In [6]:
#Apagar as linhas que possuem MM null
df.dropna(subset=['MM'], inplace=True)

In [196]:
#df.isnull().sum()
#dadosteste=pd.DataFrame(data=df.groupby(['Data'])['TEM'].mean())

In [8]:
#Montando as Médias de Cada Ano
#Montar grupos dentro de grupos
#df.groupby(pd.Grouper(key='Data', freq='M'))['TEMP'].mean()
dados_Mensais_TEMP=df[(df['Data'].dt.year > 2007)].groupby(pd.Grouper(key='Data', freq='M'))['TEMP'].mean()
dados_TEMP=pd.DataFrame(dados_Mensais_TEMP)
dados_TEMP.to_excel('dados_TEMP.xlsx',index=True)

dados_Mensais_MM=df[(df['Data'].dt.year > 2007)].groupby(pd.Grouper(key='Data', freq='M'))['MM'].mean()
dados_MM=pd.DataFrame(dados_Mensais_MM)
dados_MM.to_excel('dados_MM.xlsx',index=True)
print(dados_Mensais_MM)
print(dados_Mensais_TEMP)

#dadosteste=pd.DataFrame(data=df.groupby(pd.Grouper(key='Data', freq='M'))['TEMP'].mean())

Data
2008-01-31    120.485714
2008-02-29    146.885714
2008-03-31    323.660000
2008-04-30    245.727273
2008-05-31     67.709091
                 ...
2023-08-31      8.658824
2023-09-30      2.862500
2023-10-31      4.306667
2023-11-30     72.333333
2023-12-31     75.630769
Freq: M, Name: MM, Length: 192, dtype: float64
Data
2008-01-31    27.185714
2008-02-29    26.414286
2008-03-31    25.060000
2008-04-30    25.263636
2008-05-31    25.409091
                ...
2023-08-31    28.382353
2023-09-30    29.750000
2023-10-31    30.660000
2023-11-30    29.346667
2023-12-31    28.892308
Freq: M, Name: TEMP, Length: 192, dtype: float64

In [29]:
#Gerando o arquivo para salvar
#dadosteste.to_excel('Mtemperatura_NONAT.xlsx',index=True)
#dados_TEMP.to_excel('dados_TEMP.xlsx',index=True)
#dados_MM.to_excel('dados_MM.xlsx',index=True)

In [9]:
#Criando um codigo para criar médias quadrienais ... de 4 em 4 anos
# Criar uma coluna para representar os intervalos de anos desejados
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Calcular a média dos valores de 'Med' para cada intervalo de anos
media_por_intervalo_TEMP = df.groupby('Intervalo')['TEMP'].mean()
Media_Quadrienio_TEMP=pd.DataFrame(media_por_intervalo_TEMP)
Media_Quadrienio_TEMP.to_excel('Media_Quadrienio_TEMP.xlsx',index=True)

media_por_intervalo_MM = df.groupby('Intervalo')['MM'].mean()
Media_Quadrienio_MM=pd.DataFrame(media_por_intervalo_MM)
Media_Quadrienio_MM.to_excel('Media_Quadrienio_MM.xlsx',index=True)
print(media_por_intervalo_MM)
print(media_por_intervalo_TEMP)

Intervalo
2008-2011    81.471176
2012-2015    50.328238
2016-2019    62.534207
2020-2023    88.348357
Name: MM, dtype: float64
Intervalo
2008-2011    26.974853
2012-2015    27.839508
2016-2019    27.740891
2020-2023    27.211033
Name: TEMP, dtype: float64

In [38]:
# Assuming your DataFrame is named df
import pandas as pd

# Generate some sample DataFrame
data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)

# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2010, 2014, 2018, 2022],
                         labels=['2007-2010', '2011-2014', '2015-2018', '2019-2022'])

# Filtering the DataFrame for the month of January
january_data = df[df['Data'].dt.month == 1]

# Grouping by year and summing the values for January
january_sum = january_data.groupby(january_data['Data'].dt.year)['Values'].sum()

# Calculating the average value for January
january_avg = january_data.groupby(january_data['Data'].dt.year)['Values'].mean()

print(january_sum)
print(january_avg)

Data
2007       465
2008     11780
2009     23126
2010     34441
2011     45756
2012     57071
2013     68417
2014     79732
2015     91047
2016    102362
2017    113708
2018    125023
2019    136338
2020    147653
2021    158999
Name: Values, dtype: int64
Data
2007      15.0
2008     380.0
2009     746.0
2010    1111.0
2011    1476.0
2012    1841.0
2013    2207.0
2014    2572.0
2015    2937.0
2016    3302.0
2017    3668.0
2018    4033.0
2019    4398.0
2020    4763.0
2021    5129.0
Name: Values, dtype: float64

In [39]:
import pandas as pd

# Generate some sample DataFrame
data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)

# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2008, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Grouping by year and month and calculating the average values
monthly_avg = df.groupby([df['Data'].dt.year, df['Data'].dt.month])['Values'].mean()

# Reshaping the DataFrame to have years as columns and months as rows
monthly_avg = monthly_avg.unstack()

print(monthly_avg)

Data      1       2       3       4       5       6       7       8       9   \
Data
2007    15.0    44.5    74.0   104.5   135.0   165.5   196.0   227.0   257.5
2008   380.0   410.0   440.0   470.5   501.0   531.5   562.0   593.0   623.5
2009   746.0   775.5   805.0   835.5   866.0   896.5   927.0   958.0   988.5
2010  1111.0  1140.5  1170.0  1200.5  1231.0  1261.5  1292.0  1323.0  1353.5
2011  1476.0  1505.5  1535.0  1565.5  1596.0  1626.5  1657.0  1688.0  1718.5
2012  1841.0  1871.0  1901.0  1931.5  1962.0  1992.5  2023.0  2054.0  2084.5
2013  2207.0  2236.5  2266.0  2296.5  2327.0  2357.5  2388.0  2419.0  2449.5
2014  2572.0  2601.5  2631.0  2661.5  2692.0  2722.5  2753.0  2784.0  2814.5
2015  2937.0  2966.5  2996.0  3026.5  3057.0  3087.5  3118.0  3149.0  3179.5
2016  3302.0  3332.0  3362.0  3392.5  3423.0  3453.5  3484.0  3515.0  3545.5
2017  3668.0  3697.5  3727.0  3757.5  3788.0  3818.5  3849.0  3880.0  3910.5
2018  4033.0  4062.5  4092.0  4122.5  4153.0  4183.5  4214.0  4245.0  4275.5
2019  4398.0  4427.5  4457.0  4487.5  4518.0  4548.5  4579.0  4610.0  4640.5
2020  4763.0  4793.0  4823.0  4853.5  4884.0  4914.5  4945.0  4976.0  5006.5
2021  5129.0  5158.5  5188.0  5218.5  5249.0  5279.5  5310.0  5341.0  5371.5

Data      10      11      12
Data
2007   288.0   318.5   349.0
2008   654.0   684.5   715.0
2009  1019.0  1049.5  1080.0
2010  1384.0  1414.5  1445.0
2011  1749.0  1779.5  1810.0
2012  2115.0  2145.5  2176.0
2013  2480.0  2510.5  2541.0
2014  2845.0  2875.5  2906.0
2015  3210.0  3240.5  3271.0
2016  3576.0  3606.5  3637.0
2017  3941.0  3971.5  4002.0
2018  4306.0  4336.5  4367.0
2019  4671.0  4701.5  4732.0
2020  5037.0  5067.5  5098.0
2021  5402.0  5432.5  5463.0

In [10]:
import pandas as pd
#Media de cada mês de todos os anos
# Generate some sample DataFrame
'''data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)
'''
# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])

# Grouping by month and calculating the average values for each month
monthly_avg_TEMP = df.groupby(df['Data'].dt.month)['TEMP'].mean()
Media_mensal_Intervalo_todo_TEMP=pd.DataFrame(monthly_avg_TEMP)
Media_mensal_Intervalo_todo_TEMP.to_excel('Media_mensal_Intervalo_todo_TEMP.xlsx',index=True)
print(monthly_avg_TEMP)

monthly_avg_MM = df.groupby(df['Data'].dt.month)['MM'].mean()
Media_mensal_Intervalo_todo_MM=pd.DataFrame(monthly_avg_MM)
Media_mensal_Intervalo_todo_MM.to_excel('Media_mensal_Intervalo_todo_MM.xlsx',index=True)
print(monthly_avg_MM)

Data
1     26.789000
2     26.357062
3     26.294500
4     26.302294
5     26.684259
6     26.479237
7     26.693004
8     27.741434
9     29.220949
10    29.761411
11    28.854018
12    27.961538
Name: TEMP, dtype: float64
Data
1     121.279000
2     157.651977
3     186.933000
4     139.253211
5      61.718519
6      14.128814
7       7.396708
8       2.661355
9       4.433992
10     32.276349
11     62.258036
12     84.131624
Name: MM, dtype: float64

In [11]:
import pandas as pd
#Criando as médias da produçaõ agricola de cada mês para cada quadriênio
# Generate some sample DataFrame
'''data = {'Data': pd.date_range(start='1/1/2007', end='12/31/2021', freq='D'),
        'Values': range(5479)}
df = pd.DataFrame(data)
'''
# Creating 'Intervalo' column based on year intervals
df['Intervalo'] = pd.cut(df['Data'].dt.year, bins=[2007, 2011, 2015, 2019, 2023],
                        labels=['2008-2011', '2012-2015', '2016-2019', '2020-2023'])
# Loop through each interval and calculate the average values for each month
i=0
for intervalo in ['2008-2011', '2012-2015', '2016-2019', '2020-2023']:
    df_intervalo_TEMP = df[df['Intervalo'] == intervalo]
    monthly_avg_intervalo_TEMP = df_intervalo_TEMP.groupby(df_intervalo_TEMP['Data'].dt.month)['TEMP'].mean()
    Media_mensal_Quadrienio_TEMP=pd.DataFrame(monthly_avg_intervalo_TEMP)
    Media_mensal_Quadrienio_TEMP.to_excel(f'Media_mensal_Quadrienio{i}_TEMP.xlsx',index=True)
    print(f"Média de cada mês para o intervalo {intervalo} DE TEMP:")
    print(monthly_avg_intervalo_TEMP)
    i+=1
    print()

i=0
for intervalo in ['2008-2011', '2012-2015', '2016-2019', '2020-2023']:
    df_intervalo_MM = df[df['Intervalo'] == intervalo]
    monthly_avg_intervalo_MM = df_intervalo_MM.groupby(df_intervalo_MM['Data'].dt.month)['MM'].mean()
    Media_mensal_Quadrienio_MM=pd.DataFrame(monthly_avg_intervalo_MM)
    Media_mensal_Quadrienio_MM.to_excel(f'Media_mensal_Quadrienio{i}_MM.xlsx',index=True)
    print(f"Média de cada mês para o intervalo {intervalo} DE MM:")
    print(monthly_avg_intervalo_MM)
    i+=1
    print()

Média de cada mês para o intervalo 2008-2011 DE TEMP:
Data
1     26.444681
2     26.417391
3     25.970588
4     25.812963
5     26.110714
6     25.770312
7     26.081538
8     27.260317
9     28.840323
10    28.944828
11    28.480357
12    27.248276
Name: TEMP, dtype: float64

Média de cada mês para o intervalo 2012-2015 DE TEMP:
Data
1     27.064286
2     26.604167
3     26.633333
4     26.600000
5     27.021875
6     26.995588
7     27.256944
8     27.856944
9     29.382192
10    30.121739
11    29.190625
12    28.585714
Name: TEMP, dtype: float64

Média de cada mês para o intervalo 2016-2019 DE TEMP:
Data
1     27.100000
2     26.309615
3     26.505455
4     26.524615
5     27.040323
6     26.769231
7     26.689706
8     28.051429
9     29.456338
10    30.034328
11    29.488710
12    28.249231
Name: TEMP, dtype: float64

Média de cada mês para o intervalo 2020-2023 DE TEMP:
Data
1     26.145455
2     25.963333
3     25.737931
4     26.082353
5     26.306250
6     26.188235
7     26.603030
8     27.743902
9     29.160000
10    29.785000
11    27.817500
12    27.472500
Name: TEMP, dtype: float64

Média de cada mês para o intervalo 2008-2011 DE MM:
Data
1     133.587234
2     151.586957
3     221.764706
4     203.570370
5     109.753571
6      20.212500
7       9.960000
8       3.533333
9       2.387097
10     56.696552
11     42.757143
12     98.368966
Name: MM, dtype: float64

Média de cada mês para o intervalo 2012-2015 DE MM:
Data
1      78.760714
2     123.687500
3     135.720000
4     105.253968
5      43.893750
6      12.950000
7       6.036111
8       0.788889
9       1.961644
10     13.828986
11     66.515625
12     66.603175
Name: MM, dtype: float64

Média de cada mês para o intervalo 2016-2019 DE MM:
Data
1     134.813115
2     182.215385
3     165.923636
4     115.870769
5      35.109677
6       8.150769
7       5.344118
8       1.911429
9       6.121127
10     29.394030
11     41.729032
12     79.421538
Name: MM, dtype: float64

Média de cada mês para o intervalo 2020-2023 DE MM:
Data
1     160.503030
2     183.906667
3     280.282759
4     150.452941
5      66.950000
6      14.558824
7       7.060606
8       5.980488
9       9.000000
10     34.260000
11    114.440000
12    103.885000
Name: MM, dtype: float64

In [10]:
linha1 = df.iloc[3]
print(linha1)

Unnamed: 0     2023.000000
01            14404.763198
02            14285.395815
03             8203.566062
04            18091.410885
05            25779.780291
06            11202.614398
07            13267.764218
08             4735.430072
09             5132.147940
10             2662.936711
11             3157.225623
12             3231.320290
Name: 4, dtype: float64

In [11]:
linha1_df = pd.DataFrame(linha1) # Transpor para obter uma linha ao invés de uma coluna
print(linha1_df)
linha1_df.to_excel('dados_linha1.xlsx', index=False)  # index=False para não incluir o índice do DataFrame na planilha

                       4
Unnamed: 0   2023.000000
01          14404.763198
02          14285.395815
03           8203.566062
04          18091.410885
05          25779.780291
06          11202.614398
07          13267.764218
08           4735.430072
09           5132.147940
10           2662.936711
11           3157.225623
12           3231.320290

In [241]:
dadosteste.to_csv('desmatamentoTra.lxsx',index=True)

In [1]:
import pandas as pd

# Exemplo de DataFrame
data = {'A': [1000, 2000, 3000], 'B': [4000, 5000, 6000], 'C': [7000, 8000, 9000]}
df = pd.DataFrame(data)

# Escolha a linha que deseja dividir por 1000
linha_para_dividir = df.iloc[0]

# Dividir os valores da linha por 1000
linha_para_dividir = linha_para_dividir / 1000

print("Valores da linha após dividir por 1000:")
print(linha_para_dividir)

Valores da linha após dividir por 1000:
A    1.0
B    4.0
C    7.0
Name: 0, dtype: float64